* {
  box-sizing: border-box;
}

/* tạo tên biến Sen */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =======TÁC ĐỘNG CHUNG============= */
/* bỏ gạch chân thẻ a */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block; /*thêm để có thể sd padding*/
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

/* tạo hiệu ứng mờ cho btn */
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* thêm phần để khi nhập nd quá dài ko bị vỡ giao diện */
.line-camp {
  display: -webkit-box;
  -webkit-line-clamp: var(
    --line-camp,
    1
  ); /*lấy gtri ở var, nếu ko có thì mặc định là 1*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-camp.line-2 {
  --line-camp: 2;
}

/* ngăn khi nhập 1 chữ quá dài hoặc link quá dài */
.break-all {
  word-break: break-all;
}
/* ================TÁC ĐỘNG RIÊNG THẺ HEADER======================= */
.header {
  background: #fffcf4;
}

/* tạo hiệu ứng đứng im cho thanh menu */
/* như này là chọn class có cả 2  */
.header.fixed {
  z-index: 1; /*cố định ko cho ảnh dưới chèn qua */
  position: sticky;
  top: -28px; /* đứng im khi còn 36 - 28 = 8px*/
}

/* tác động class body là class con của header */
.header .body-header {
  display: flex;
  align-items: center; /*căn giữa*/
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}
/* dùng để  kéo hết phần sau về 1 phía */
.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px; /* sử dụng padding thay vì margin để vùng bấm đc mở rộng hơn*/
  position: relative;
  /* margin-left: 42px; */
  /* text-align: center; thẻ inline ko cần
  font-family: Poppins; có sẵn ở trên body
  font-style: normal; trình duyệt mặc định có rồi
  font-weight: 400;
  line-height: 28px; 175% */
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

/* tạo thanh di chuyển dưới nút home */
/* class active là dùng */
.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;

  border-radius: 1px;
  background: #171100;
}

/* thiết kế riêng nút btn-sign-up */
.header .btn-sign-up {
  min-width: 144px;
}

/* nút btn cách thẻ nav 70px */
.header .action {
  margin-left: 49px;
}

/*======================CODE CHO PHẦN HERO================= */
.hero {
  padding: 56px 0 65px; /*nên dùng padding thay margin để đổi đc nền ở trên*/
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* set chiều rộng của 2 khối */
.hero .media-block {
  position: relative;
  width: 48%;
}

/* set để ko bị vỡ ảnh nếu có ảnh khác lớn hơn */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

/* ô nhỏ cạnh ảnh */
.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}
/* tác động vào thẻ icon nằm sau thẻ icon */
.hero-summary .item + .item {
  margin-top: 22px;
}
/* chỉnh icon */
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  /* margin-bottom: 22px; */
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
  /* margin: 0; */
}

.hero-summary .infor {
  margin-left: 16px;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* Code phần content block */
/* =======hero right============= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .nd1 {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.68; /* 166.667% */
}

.hero .call-to-action {
  margin-top: 38px;
  align-items: center;
  display: flex;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

/* xử lý btn watch */
.hero .watch-video {
  border: none;
  background: transparent; /* trong suốt*/
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}

.hero .nd1-Recent {
  margin-top: 48px;
}

.hero .nd1-strong {
  margin-top: 8px;
}

.hero .nd1-strong strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}

/* có thẻ thay .student = nth-child(2) */
.hero .nd1-strong .students {
  margin-left: 28px;
}

/* ==================popular===================== */
.popular {
  padding: 65px 0; /*trong bài ko có nhưng nên để để nếu sau này có cần thêm thì còn thêm đc */
  /* background-color: cyan; */
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .nd1 {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

/* ============Courses=============== */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

/* bo góc thẻ item chung */
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0 0;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item .infor {
  padding: 16px 22px 22px;
}

/* thẻ head */
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .foot .btn-booknow {
  border: none;
}

/* khi di chuột */
.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .foot .btn-booknow:hover {
  border-radius: 25px;
  background: #ffb900;
}

/* ==========Mota-Người============== */
.Mota-nguoi {
  background: #2e2100;
  margin-top: 135px;
  padding: 96px 0;
}

.Mota-nguoi .gioithieu {
  display: flex;
}

.Mota-nguoi .moor {
  width: 72px;
  height: 72px;
  border-radius: 50;
  object-fit: cover;
}

.Mota-nguoi .person .name {
  margin-top: 18px;
  color: #f7f7f7;
  /* width: 130px; */
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.Mota-nguoi .person .desc {
  margin-top: 4px;
  /* width: 159px; */
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

/* dấu 3 chấm */
.Mota-nguoi .person .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.gioithieu .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.gioithieu .dot.active {
  background: var(--primary-color);
  cursor: default;
}
.Mota-nguoi .comment {
  width: 66%;
  margin-left: auto;
  position: relative;
}

.Mota-nguoi .phay {
  width: 30px;
  height: 28px;
}

.Mota-nguoi .cmt {
  color: #fff;
  width: 740px;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
  position: absolute;
  left: 30px;
}

/* ============features-==================== */
.features {
  margin-top: 135px;
}

.features .features-item {
  display: flex;
}

.features .features-item .pictures {
  display: flex;
}

.features .pictures .thinks {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
  margin-top: 34px;
  margin-right: 30px;
}

.features .pictures .thinks2 {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .infor {
  margin-left: 130px;
  margin-top: 58px;
}

.features .infor .head {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}
.features .infor .foot,
.features .infor .body {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
}

.infor .btn-sign-up {
  margin-top: 32px;
  border: none;
  width: 137px;
  background: #ffb900;
}

/* ==============course=================== */
.course {
  margin-top: 200px;
}

.course .course-item {
  display: flex;
}

.course .course-item .infor {
  margin: 71px 130px 71px 0;
}

.course-item .infor .head {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.course-item .infor .foot {
  color: #5f5b53;
  font-size: 16px;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
  margin-bottom: 32px;
}

.course-item .img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/*================BLOG=============== */
.blog {
  margin-top: 200px;
  background: #fffcf4;
}

.blog .content-blog {
  padding: 96px 361px 55px;
}

.blog .content-blog .head {
  color: #130606;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.blog .content-blog .foot {
  margin-top: 16px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.blog .blog-body {
  display: flex;
  gap: 30px;
}

.blog .blog-body .content-body .img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0 0;
}

.blog .blog-body .content-body .blog-body-head {
  display: flex;
  margin: 20px 0 12px 30px;
}

.blog .blog-body .content-body .head {
  margin-left: 4px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.blog .blog-body hr {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-left: 30px;
  margin-bottom: 12px;
}
.blog .blog-body .body {
  width: 330px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-bottom: 12px;
  margin-left: 20px;
}

/* bo goc the */
.blog .content-body {
  flex: 1;
  border-radius: 16px;
  background: #fff;
  border: 1px solid black;
}

.blog .content-body:hover {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .blog-body .btn-readmore {
  border: none;
  width: 118px;
  margin-bottom: 28px;
  margin-left: 20px;
}
.blog .blog-body .btn-readmore:hover {
  border-radius: 25px;
  background: var(--primary-color);
}

/* 3 cham */
.blog .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 38px 0 96px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.blog .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* ============footer============= */
.footer {
  background: #2e2100;
  height: 428px;
}

.footer .mota {
  display: flex;
  padding-top: 96px;
  padding-bottom: 38px;
}

.footer .mota .thuonghieulesson {
  display: flex;
}

.footer .thuonghieulesson .desc {
  color: #fff;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.footer .thuonghieulesson .daucanhlesson {
  color: #ffb900;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.footer .lesson .desc1 {
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  margin: 18px 0 18px;
}

.footer .lesson .logo .img {
  margin-right: 18px;
}

.footer .lesson {
  margin-right: 145px;
}

.footer .company h3,
.footer .support h3,
.footer .address h3,
.footer .address strong {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer .mota hr {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin-top: 14px;
  margin-bottom: 28px;
}

.footer .company .desc,
.footer .support .desc,
.footer .address .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer .company .desc + .desc,
.footer .support .desc + .desc,
.footer .address .desc + .desc {
  margin-top: 12px;
}
.footer .company {
  margin-right: 130px;
}

.footer .support {
  margin-right: 137px;
}

.footer .mota .address hr {
  margin-right: 150px;
}

.footer .mota ~ hr {
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .footer-item .copyright {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  margin: 28px auto;
}

.footer .mota .support .desc11 {
  width: 137px;
}
