* {
  box-sizing: border-box;
}

/* tạo tên biến Sen */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =======TÁC ĐỘNG CHUNG============= */
/* bỏ gạch chân thẻ a */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block; /*thêm để có thể sd padding*/
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

/* tạo hiệu ứng mờ cho btn */
.btn:hover {
  opacity: 0.9;
}

/* ================TÁC ĐỘNG RIÊNG THẺ HEADER======================= */
.header {
  background: #fffcf4;
}

/* tạo hiệu ứng đứng im cho thanh menu */
/* như này là chọn class có cả 2  */
.header.fixed {
  z-index: 1; /*cố định ko cho ảnh dưới chèn qua */
  position: sticky;
  top: -28px; /* đứng im khi còn 36 - 28 = 8px*/
}

/* tác động class body là class con của header */
.header .body-header {
  display: flex;
  align-items: center; /*căn giữa*/
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}
/* dùng để  kéo hết phần sau về 1 phía */
.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px; /* sử dụng padding thay vì margin để vùng bấm đc mở rộng hơn*/
  position: relative;
  /* margin-left: 42px; */
  /* text-align: center; thẻ inline ko cần
  font-family: Poppins; có sẵn ở trên body
  font-style: normal; trình duyệt mặc định có rồi
  font-weight: 400;
  line-height: 28px; 175% */
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

/* tạo thanh di chuyển dưới nút home */
/* class active là dùng */
.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;

  border-radius: 1px;
  background: #171100;
}

/* thiết kế riêng nút btn-sign-up */
.header .btn-sign-up {
  min-width: 144px;
}

/* nút btn cách thẻ nav 70px */
.header .action {
  margin-left: 49px;
}

/*======================CODE CHO PHẦN HERO================= */
.hero {
  padding: 56px 0 65px; /*nên dùng padding thay margin để đổi đc nền ở trên*/
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* set chiều rộng của 2 khối */
.hero .media-block {
  position: relative;
  width: 48%;
}

/* set để ko bị vỡ ảnh nếu có ảnh khác lớn hơn */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

/* ô nhỏ cạnh ảnh */
.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}
/* tác động vào thẻ icon nằm sau thẻ icon */
.hero-summary .item + .item {
  margin-top: 22px;
}
/* chỉnh icon */
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  /* margin-bottom: 22px; */
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
  /* margin: 0; */
}

.hero-summary .infor {
  margin-left: 16px;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* Code phần content block */
/* =======hero right============= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .nd1 {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.68; /* 166.667% */
}

.hero .call-to-action {
  margin-top: 38px;
  align-items: center;
  display: flex;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

/* xử lý btn watch */
.hero .watch-video {
  border: none;
  background: transparent; /* trong suốt*/
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}

.hero .nd1-Recent {
  margin-top: 48px;
}

.hero .nd1-strong {
  margin-top: 8px;
}

.hero .nd1-strong strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}

/* có thẻ thay .student = nth-child(2) */
.hero .nd1-strong .students {
  margin-left: 28px;
}

/* ==================popular===================== */
.popular {
  padding: 65px 0; /*trong bài ko có nhưng nên để để nếu sau này có cần thêm thì còn thêm đc */
  /* background-color: cyan; */
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .nd1 {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}
